<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}prueba!{% endblock %}</title>
        {% block stylesheets %}
            <!-- Loading Bootstrap -->
            <link href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">

            <!-- Loading Flat UI -->
            <link href="{{ asset('assets/vendor/flat-ui/dist/css/flat-ui.min.css') }}" rel="stylesheet">

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('assets/vendor/flat-ui/dist/js/vendor/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/flat-ui/dist/js/vendor/video.js') }}"></script>
            <script src="{{ asset('assets/vendor/flat-ui/dist/js/vendor/flat-ui.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
