<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}MicroEmprendimiento{% endblock %}</title>
        {% block stylesheets %}
            <!-- Loading Bootstrap -->
            <link href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">

            <!-- Loading Flat UI -->
            <link href="{{ asset('assets/vendor/flat-ui/dist/css/flat-ui.min.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/styles.css') }}" rel="stylesheet">

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="#">MicroEmprendimiento</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-01">
        {% block navbar %}{% endblock %}
        </div><!-- /.navbar-collapse -->
    </nav><!-- /navbar -->

    <div class="full">

        {% block body %}{% endblock %}
    </div>
        {% block javascripts %}
            <script src="{{ asset('assets/vendor/flat-ui/dist/js/vendor/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/flat-ui/dist/js/vendor/video.js') }}"></script>
            <script src="{{ asset('assets/vendor/flat-ui/dist/js/flat-ui.min.js') }}"></script>

            <script src="{{ asset('assets/vendor/flat-ui/docs/assets/js/prettify.js') }}"></script>
            <script src="{{ asset('assets/vendor/flat-ui/docs/assets/js/application.js') }}"></script>

        {% endblock %}
    </body>
</html>
